[Unit]
Description=DB29 QUEUE
After=network.target

[Service]
User=root
WorkingDirectory=TO_BE_REPLACE
ExecStart=/usr/bin/php artisan queue:listen --timeout=7200
Restart=always

[Install]
WantedBy=multi-user.target
