[Unit]
Description=DB29 APP
After=network.target

[Service]
User=root
WorkingDirectory=TO_BE_REPLACE
ExecStart=/usr/bin/php artisan octane:start --port=8000 --watch
Restart=always

[Install]
WantedBy=multi-user.target
